*

!.gitignore
!README.md
!requirements.txt

!3d/
!3d/*.py
!3d/*.md

!3d/annotator/
!3d/annotator/**
!3d/artifact_viewer/
!3d/artifact_viewer/**

!3d/outputs_graph_analysis/
!3d/outputs_graph_analysis/**

__pycache__/
*.pyc
*.pyo
.DS_Store
.venv/
venv/

